body {
  font-family: "Sanchez", serif;
  padding-top: 75px;
  /*max-width: 1440px;*/
}

nav {
  border-bottom: 1px solid gainsboro;
}

.company_logo {
  width: 50px;
}

.cart_icon {
  width: 35px;
}

footer {
  display: flex;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.fa-brands {
  color: black;
  font-size: 2rem;
}

/*Landing Page*/

/*main {
  max-width: 1300px;
  margin: 0;
}*/

#background_image {
  height: 37vh;
  width: 100%;
  background: url(img/landing_page/markus-spiske-vyHo3nnk8G8-unsplash.jpg);
  background-size: 1440px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

#text_container {
  height: 37vh;
  /*width: 540px;*/
  width: 480px;
  background: rgba(165, 201, 202, 0.7);
  color: black;
  flex-direction: column;
  text-align: center;
}

h1 {
  margin-top: 5%;
}

/*#carousel_container {
  display: grid;
  gap: 0;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 85%;
}*/

#carousel_container {
  display: flex;
  flex-direction: row;
}

.carousel_side {
  /*width: 450px;*/
  width: 480px;
  height: 37vh;
  background-color: yellow;
}

.carousel_image {
  /*width: 540px;*/
  width: 480px;
  height: 37vh;
  background-color: red;
}

#form_container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 2%;
  background-color: #256d85;
  max-width: 1440px;
  margin: 0;
}

#mailing_list {
  margin-top: 1%;
}

#mailing_list_email {
  margin-top: 1%;
  border: 1px solid black;
  border-radius: 5px;
}

#mailing_list_submit {
  border: 1px solid black;
  background-color: #a5c9ca;
  border-radius: 5px;
}

/*Shop Page*/

#products {
  background-color: #a5c9ca;
}

section {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 30px;
}

#top_section {
  border-top: none;
}

.space {
  height: 75px;
  background-color: white;
  border-top: 5px solid #256d85;
  border-bottom: 5px solid #256d85;
}

#fruit {
  border: none;
  background-color: #a5c9ca;
}

.category_title {
  text-align: center;
}

.product_category {
  display: flex;
  justify-content: space-around;
  margin-bottom: 55px;
}

.card {
  border: 1px solid black;
  width: 14rem;
  height: 22rem;
  margin-top: 20px;
}

.card-img-top {
  border-bottom: 1px solid black;
  width: 100%;
  height: 45%;
}

.btn {
  color: white;
  background-color: #256d85;
  border: none;
  margin-top: 15px;
}

#final_section {
  border-bottom: 5px solid #256d85;
}

/*Log in page*/

#login_page_background {
  height: 87vh;
  width: 100%;
  background: url(img/landing_page/heather-barnes-WbZesfqwR-A-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

#login_form,
#register_form {
  width: 40%;
  height: 65vh;
  background-color: rgba(165, 201, 202, 0.7);
  padding: 20px;
  margin-left: 6.5%;
}

input {
  background-color: white;
}

#login_button {
  margin-top: 27px;
}

/*Media queries for navbar*/

@media only screen and (min-width: 1000px) {
  .cart_text {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .cart_icon {
    display: none;
  }
}

/*Media queries for mobile phone screens*/

@media only screen and (min-width: 360px) and (max-width: 684px) {
  /*Landing page*/

  #background_image {
    height: 33vh;
    background-size: cover;
    width: 100%;
  }

  #text_container {
    height: 33vh;
    width: 50%;
  }

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 11px;
  }

  #carousel_container {
    display: grid;
    gap: 0;
    grid-template-columns: 100%;
    grid-template-rows: 30% 30% 30%;
  }

  .carousel_side {
    display: none;
  }

  .carousel_image {
    width: 350px;
    height: 40vh;
  }

  #form_container {
    padding-bottom: 7%;
  }

  #mailing_list {
    padding-top: 3%;
  }

  #email {
    margin-top: 3%;
    margin-bottom: 3%;
  }

  /*Shop page*/

  section {
    border-top: none;
    border-bottom: none;
    padding-top: 10px;
  }

  .space {
    height: 0;
    border-top: none;
    border-bottom: none;
  }

  .product_category {
    flex-direction: column;
    margin-bottom: 0;
    margin-top: -10px;
  }

  .card {
    margin-top: 10px;
    margin-left: 20%;
  }

  #final_card {
    margin-bottom: 10px;
  }

  #final_section {
    border: none;
  }

  .additional_footer {
    display: none;
  }

  /*Log in Page*/

  #login_page_background {
    height: 100vh;
    flex-direction: column;
  }

  .form_title {
    font-size: 20px;
  }

  #login_form {
    width: 80%;
    height: 325px;
    margin: 25px 0 0 0;
  }

  #register_form {
    width: 80%;
    height: 350px;
    margin: 25px 0 15px 0;
    padding-bottom: 0;
  }

  #login_button,
  #register_button {
    margin-top: 0px;
  }
}
